@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Emmanuel Cortes Castaneda  
   Date: 11.30.18      
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/* WINDOW STYLES */

html {
    background-image: url(jb_back2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    display: block;
    height: 100%;
    width: 100%;
    min-width: 640px;
    max-width: 960px;
    margin: 0 auto 0 auto;
    background-color: whitesmoke;
}

/* HEADER STYLES */

header {
    background: url(jb_back1.png);
    background-repeat: no-repeat;
    background-size: cover
}

#img1 {
    width: 40%;
    position: relative;
    display: block;
    border: grey outset;
    border-width: 10px;
    margin-left: auto;
    margin-right: auto;
}


header {
    display: block;
}

/* NAV STYLES */

.mainmenu {
    display: block;
}

.submenuTitle {
    text-align: center;
}

.horizontal li {
    float: left;
    width: 25%;
    display: block;
    background-color: #6FBAEE;
    line-height: 3em;
}

.submenu li {
    text-indent: 10px
}

.horizontal a {
    display: block;
    color: black;
}

nav.horizontal a:hover,
nav.horizontal a:active {
    background-color: rgb(31, 73, 125);
    color: white;
}

/* DROPDOWN MENU */

ul.submenu {
    display: none;
    position: absolute;
}

ul.submenu li {
    width: 100%;
}

a.submenuTitle:hover+ul.submenu,
ul.submenu:hover {
    display: block;
}

/* BODY STYLES */

section {
    clear: both;
    content: "";
    display: table;
}

section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

section p {
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
    border: black solid;
    border-radius: 5px;
    border-width: 3px;
    box-shadow: grey 10px 10px 10px;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.1em
}

h1 {
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 3em;
    font-family: 'Indie Flower', cursive;

}

.slang {
    margin: 20px auto 20px auto;
    text-align: center;
    padding: 15px;
    width: 40%;
    border: black solid;
    font-family: 'Oxygen', sans-serif;
}

/* FOOTER STYLES */

footer,
footer>a {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: black;
    background-color: #6FBAEE;
}

footer>a:hover {
    color: white;
}